{{ if .Params.HeroSection.IsSet }}
  {{ partial "landing_page/hero_section.html" .Params.HeroSection }}
{{ end }}

{{ if .Params.AboutSection.IsSet }}
  {{ partial "landing_page/image_with_text_section.html" .Params.AboutSection }}
{{ end }}

{{ if .Params.FeaturesSection.IsSet }}
  {{ partial "landing_page/features_section.html" .Params.FeaturesSection }}
{{ end }}

{{ if .Params.TryitSection.IsSet }}
  {{ partial "landing_page/image_with_text_section.html" .Params.TryitSection }}
{{ end }}

{{ if .Params.TestimonialsSection.IsSet }}
  {{ partial "landing_page/testimonials_section.html" .Params.TestimonialsSection }}
{{ end }}

{{ partial "blog/section.html" (where (where .Site.Pages "Section" "blog") "Slug" "!=" "") }}