<section id="{{ .ScrollAnchorId }}" class="cta-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 order-last order-lg-first">
              <div class="cta-image {{ .ImagePosition }}-image">
                  <img src="{{ .Image }}" alt="">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="cta-content-wrapper">
                  <div class="section-title">
                      <h2 class="mb-20">{{ .Headline }}</h2>
                      {{ safeHTML .SubHeadline }}
                      <a target="_blank" href="{{ .ButtonUrl }}" class="main-btn btn-hover border-btn mt-30">{{ .ButtonLabel }}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>