<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Page.Description }}" />

    {{/*  TODO  */}}
    {{/*  {{ if isset .Page "Image" }}
      <meta name="image" content="{{ .Page.Image }}" />
    {{ end }}  */}}

    <title>{{ .Page.Title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://buttercms.com/static/v2/images/favicon.png" />

    {{ partial "head/styles.html" . }}
  </head>
  <body>
    {{ partial "preloader.html" . }}

    {{ partial "header.html" $.Site.Data.header }}

    {{ block "main" . }}
    {{ .Content }}
    {{ end}}

    {{ partial "footer.html" $.Site.Data.header }}

    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    {{ partial "head/scripts.html" . }}
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
